+contentFor 'headerTitle'
    h1.title #{rules} (setup)

+ionView
    +ionContent
        p Game of “#{rules}” created
            +dateDisplaySpan created
            | by
            if isOwner
                | you
            else
                with owner
                    a.profile-link(href='/u/#{username}')= displayName

        h3 Players:
        each makeRows list=players columns=3
            .row.responsive-md
                each columns
                    .col
                        +profileCard user=user showLink=true
                            .item.item-button-right.item-text-wrap Joined #[+dateDisplaySpan joined]
                                button.remove-player.button.icon-left.ion-close.button-assertive Remove
        else
            p none yet
        if notJoined
            p Join

        if isOwner
            button#start-game.button.button-balanced Start game
