.game-card-container.col
  .game-card.card.component(class=cardTypeToClass draggable='true')
    .item.card-heading
      .card-cost= cost
      if starter
        .starter-marker starter
      if starterLineup
        .starter-marker starter lineup

      .card-type
        = cardType
        if cardSubtype
          | / #{cardSubtype}

      h2= name

    if hasTraitsOrSkills
      .item.row.traits-and-skills
        .col
          h3 Skills
          p 
            if singing
              | #{singing} singing
          p 
            if dancing
              | #{dancing} dancing
          p 
            if comedy
              | #{comedy} comedy
          p 
            if charisma
              | #{charisma} charisma
          p 
            if acting
              | #{acting} acting
        .col.align-right
          h3 Qualities
          p
            if kawaii
              | kawaii #{kawaii}
          p
            if genki
              | genki #{genki}
          p
            if cool
              | cool #{cool}
          p
            if rebel
              | rebel #{rebel}
          p
            if pure
              | pure #{pure}

    if action
      .item.card-text.ion-arrow-right-a(title='Action: Play from your hand to get this effect. Discard immediately.')
        .special-label Action:
        if action.title
          .special-title= action.title
        .special-text= action.text
    if reaction
      .item.card-text.ion-alert-circled(title='Reaction: Play at any time when this condition is met, even if it\'s not your turn, from your hand or from play.')
        .special-label Reaction:
        if reaction.title
          .special-title= reaction.title
        .special-text= reaction.text
    if ability
      .item.card-text.ion-refresh(title='Ability: Use this ability as your action, if this card is in play.')
        .special-label Ability:
        if ability.title
          .special-title= ability.title
        .special-text= ability.text
    if specialAbility
      .item.card-text.ion-arrow-return-left(title='Special Ability: Use this ability as your action, if this card is in play; then flip this card.')
        .special-label Special Ability:
        if specialAbility.title
          .special-title= specialAbility.title
        .special-text= specialAbility.text
    if charmPoint
      .item.card-text.ion-pin(title='Charm Point: This effect is always active, as long as this card is in play and face-up.')
        .special-label Charm Point:
        if charmPoint.title
          .special-title= charmPoint.title
        .special-text= charmPoint.text
